## Build directories
#cmake-build-*/
#
## CLion / Intellij
#.idea/
#
## Compiled files
#*.o
#*.obj
#*.exe

# Build folders
cmake-build-*/
build/

# CLion / IDE
.idea/

# Logs (keep folder, ignore files)
dailylog/*.txt

# OS
*.exe
*.dll
*.o
*.obj

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
